body{ 
    background-color: #DBE4E2;
    color: #000000;
    margin: 0;
    padding: 0;
  }

/*NAV*/

.my-background{
    background-image: url('file:///Users/Brandi/Documents/blob4.svg');
    background-repeat: no-repeat;
    background-position: left top;
}

.bg-company-blue {
    background-color: #00303F;
}

.nav-brand {
    font-size: 2rem;
    font-family: 'Yeseva One', cursive;
}
.navbar-brand-start{
    color: #99F1E0;
}

.navbar-brand-end{
    color: #3AC8AC;
}

 .blockquote {
      color: #EEE;
      font-size: 1.5rem;
      font-weight: bold;


  }

  .blob {
    position: absolute;
  }

  .stat {
    margin-top: 6rem;
}

/* REVIEWS */

.reviews {
    margin-top: 6rem;
}

.review {
    border: .5px solid #3AC8AC;
}

/* JUMBOTRON */
.jumbotron {
    margin-top: 40px;
    text-align: center;
    background-color: #00303F;
    color: #EEE;
}

.partnership {
    font-weight: normal;
}

/* */
.about {
    margin-top: 40px;
}

h3 {
    text-align: center;
}


/* TEAM */
.team {
    margin: auto;
    border: 1px solid #3AC8AC;
}

.about-me {
    margin-top: 30px;
}

.about-row {
    display: flex;
    justify-content: center;
}

.card-body {
    margin-top: 1rem;
    padding: auto;
}

.rounded-circle {
    width: 150px;
    height: 150px;
    margin-top: 30px;
    margin-left: 75px;
}

@media only screen and (max-width: 770px) {
    .my-background .blockquote {
        padding-right: 80px;
    }
}
